@media (min-width: 576px) {
  .navbar {
    max-height: 44px;
  }
}

.navbar-brand {
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: transparent;
  opacity: 0.7;
}

.navbar-brand:hover {
  opacity: 1;
}

.navbar {
  background-color: #333;
}

.navbar a {
  font-size: 14px;
  line-height: 44px;
}
